name: Ci_build

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:


env: 
  AZURE_RG_NAME: rg-${{ vars.PROJECT_NAME }}-${{ vars.AZURE_RESOURCE_IDENTIFIER }}
  
jobs:
  build_frontend:
    runs-on: ubuntu-latest
     # needs: deploy_infrastructure
    environment: production

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Inject app version from git tag
      run: |
        echo "VITE_APP_VERSION=${GITHUB_REF_NAME}" >> $GITHUB_ENV

    - name: Build the app
      run: npm install && npm run build
      working-directory: ./frontend    

    - name: Upload frontend artifact
      uses: actions/upload-artifact@v4
      with:
        name: frontend-dist
        path: ./frontend/dist


  build_backend:
    runs-on: ubuntu-latest
    # needs: deploy_infrastructure
    environment: production

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Setup .NET SDK 9.0.x
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
        
    - name: Publish backend
      run: dotnet publish -c Release --property:PublishDir=publish # Publish the app to the API project publish folder
      working-directory: ./backend # Specify where to find the solution file in repository

    - name: Upload backend artifact
      uses: actions/upload-artifact@v4
      with:
        name: backend-publish
        path: ./backend/ParkNDeploy.Api/publish
